@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("ttf");
    }

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf") format("ttf"),
    url("../fonts/OpenSans-SemiBold.ttf") format("ttf");
    }

body{
    
    background-color: #031010;
    color: #fff;
    text-align: center;
    }

header{
    width: 100%;
    height: 200px;
    text-align: center;
    background-color:#2A4158;
}

.navAccueil{

}

.navSearch{

}

h1{
    font-size: 48px;
    
}

h2{

}

.card{

}

.data{

}

h3{

}

p{

}

.boutons{
    

}
footer{
    background-color: #2A4158;
}