@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    }

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
    }

body{
    font-family: "Montserrat";
    color: #fff;
    background-color: #031010;
    text-align: center;
    }

header{
    width: 100%;
    height: 200px;
    justify-content: center;
    position: sticky;
    top: 0%;
    background-color:#2A4158;
    display: flex;
    flex-flow: wrap column ;
   
}

nav{
    display: flex;
    flex-flow: wrap column ;
    justify-content: center;
}

.searchBar{
    margin-top: 20px;
}
 input{
    width: 784px;
    height: 30px;
    background-color: #fff;
    border-radius: 25px;
    padding-left: 10px;
    text-align: start;   
 }
ul{
    display: flex;
    flex-flow: wrap row ;
    justify-content: space-evenly;

}

li{
    list-style: none;

    
}
a{
    font-family: "Montserrat";
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.navSearch{

}
.banner{
    width: auto;
    height: 600px; 
    background-image:url(../images/ban.png);
    background-size: 100% 100%;
    margin-bottom: 100px;
}
h1{
    font-size: 48px;
    color: #fff;
    
}

.container{
    
    display: flex;
    flex-flow: wrap column ;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 100px;
}
.presentation{
    margin: auto;
    font-size: 20px;
    color: #F5ED17;
    max-width: 900px;
    line-height: 25pt;
    margin-bottom: 100px;
    

}
h2{
    font-size: 30px;
    color:#F5ED17 ;
}

.etendre{
    color: #F5ED17;
    font-size: 30px;
}

.card{
    
    padding-top: 25px;
    padding-bottom: 25px;

}

.details{
    display:none;
    
}

.active{
    
    max-width: 900px;
    background-color: #2A4158;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    border-radius: 25px;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 25px;
}

.data{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    margin-right: 50px;
    padding: 25px; 
    
}
.starships, .species, .films, .residents{
    all: unset;
    cursor: pointer;
    font-size: 18px;
    padding-top: 22px;
    padding-bottom: 22px;
}
h3{
    font-size: 18px;

}

p{
    font-family: "OpenSans";
    font-size: 15px;
}

.boutons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.allButtons{
    margin-right: 10px;
    border-radius: 50%;
    width: 50PX;
    height: 50PX;
    border: none;
    background-color: #FF2606 ;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    
}
 .allButtons:hover{
    background-color: #fff ;
    color: black;
    cursor: pointer;
   
 }

footer{
    width: auto;
    height: 400px; 
    background-image:url(../images/footer.png);
    background-size: 100% ;
}